blockquote {
    width: 45%;
    margin: 80px auto 80px auto;
    font-size: 160%;
    background-color:#DCDCDC;
    border-left: 3px dashed;
    padding-left: 30px;
    font-style: italic;
    color: black;
    font-family: 'PT Serif', serif;

}
p {font-family: 'PT Serif', serif;
    letter-spacing: 2px;
    color:#404040;
    background-color:#DCDCDC;
    display: inline;


}

a:link, a:visited {
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin:auto;
}

a:hover, a:active {
    background-color: white;
    color: black;
}
a:visited {
    color: grey;
}
body {
    width: 90%;
    margin:auto;
    background-image: url("https://images.unsplash.com/photo-1506777390528-af8560003b14?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans Condensed', sans-serif;
}

.farmer {
    border-color: red;
}
.villagers {
    border-color: blue;
}
header > p {
    background-color: yellow;
}
.bad {
    color:lightcoral;
    text-transform: capitalize;
}
.good {
    color:lightseagreen;
    text-transform: capitalize;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 20%;
    border: 1px solid #DCDCDC;
}
th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #DCDCDC;
}

.story p:first-of-type  {
    font-weight: bold;
}
img {
    float: left;
    margin-right: 20px;

}
.preamble {
    margin-top: 130px;
}

